rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userID} {
    	allow read, write: if request.auth != null && request.auth.uid == userID;
    }
    match /discussions/{discussionID} {
    	allow read;
      allow create, update: if request.auth != null;
      allow delete: if false;
    }
    match /comments/{discussionID} {
    	allow read, create, update;
      allow delete: if false;
    }
    match /classes/{classID} {
    	allow read, create;
      allow delete, update: if false; 
    }
    match /members/{classID} {
    	allow read, create, update;
      allow delete: if false;
    }
    match /downloadURL/{classID} {
    	allow read, create, update;
      allow delete: if false;
    }
    match /topics/{topicID} {
    	allow read, create;
      allow delete, update: if false;
    }
    match /entries/{topicID} {
    	allow read, create, update;
      allow delete: if false;
    }
  }
}