html,
body {
    height: 100%;
}
#body {
    min-height: 100%;
}
.font-size-18 {
    font-size: 18px !important;
}
.height-140 {
    height: 140px;
}
.login,
.logout {
    display: none;
}
.float-right {
    float: right;
}
.class {
    display: none;
}
.bg-gradient {
    background: linear-gradient(#4568dc, #b06ab3) !important;
}
.bg-gradient-2 {
    background: linear-gradient(#141e30, #243b55) !important;
}