@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Roboto&display=swap');
html,
body {
    height: 100%;
    background-color: #f1edff;
}
#body {
    min-height: 100%;
}
.font-size-18 {
    font-size: 18px !important;
}
.height-140 {
    height: 140px;
}
.login,
.logout,
.class,
.topic {
    display: none;
}
.float-right {
    float: right;
}
.bg-gradient {
    background: linear-gradient(#141e30, #243b55) !important;
}
.bg-gradient-2 {
    background-color: #f1edff !important;
}
#forgot-pw,
#del-btn,
#change-pw,
.double {
    margin: 10.5px;
}
.about {
    line-height: 2;
    font-family: 'Dosis', sans-serif;
    font-size: 16.5px;
}
.contact p {
    font-family: 'Roboto', sans-serif;
}
.bg-000033 {
    background-color: #000033 !important;
}
.bg-2f3162 {
    background-color: #2f3162 !important;
}
.text-2f3162 {
    color: #2f3162 !important;
}
.bg-4b88a2,
.btn {
    background-color: #4b88a2 !important;
}
.text-4b88a2 {
    color: #4b88a2 !important;
}
::-webkit-scrollbar {
    width: 0;
}