@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
html,
body {
    height: 100%;
}
#body {
    min-height: 100%;
}
.font-size-18 {
    font-size: 18px !important;
}
.height-140 {
    height: 140px;
}
.login,
.logout,
.class,
.topic {
    display: none;
}
.float-right {
    float: right;
}
.bg-gradient {
    background: linear-gradient(#4568dc, #b06ab3) !important;
}
.bg-gradient-2 {
    background: linear-gradient(#141e30, #243b55) !important;
}
#forgot-pw {
    margin: 20px;
}
.about {
    line-height: 2;
    font-family: 'Dosis', sans-serif;
    font-size: 16.5px;
}